@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  color: #444;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: inherit;
}
h1 {
  color: rgb(179, 131, 226);
  font-size: 8rem;
  text-align: center;
  opacity: 0.8;
  margin-top: 5rem;
}
form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}
.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}
.input::placeholder {
  color: #d5d5d5;
}
input:focus {
  outline-color: rgb(179, 131, 226);
}
.todos {
  padding: 0;
  background-color: #fff;
  margin: 0;
}
.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todos li.completed {
  text-decoration: line-through;
  color: #b6b6b6;
}
small {
  color: #b5b5b5;
  margin-top: 3rem;
  text-align: center;
}
